@import url(https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
}

.montarLook{
  a{
    color: #af972b !important;
  }
  float: right !important;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 50px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100px;
  img{
    max-height: 100%;
  }
  h1{
    margin: 0 20px;
    font-weight: 300;
  }
}

.menu {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  font-weight: bold;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  ul {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: 150px;
    float: left;
    transition: 100ms ease-in-out;
    a {
      color: #222;
    }
  }
  ul li:hover{
    a{
      color: #af972b;
      text-decoration: underline;
    }
  }

  ul li ul li {
    background-color: #fff;
    float: none;
    
    a {
      color: #444;
    }
    a:hover {
      color: #ddd;
    }
  }
  a {
    padding: 16px;
    display: block;
    text-decoration: none;
    text-align: center;
  }
  ul li ul li:hover {
    background-color: #444;
  }
}

.sliderMain{
  height: 50vh;
  margin: 1ch 0 0 0;
  overflow: hidden;
}

.carouselMain{
  position: relative;
  width: 80vw;
  max-height: 100%;
  margin: 0 auto;
}

.singleItem{
  width: 80vw;
  overflow: hidden;
  img{
    max-width: 100%;
  }
}

.prevArrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #444;
  padding: 1em;
  cursor: pointer;
  color: #fff;
  z-index: 99;
  font-weight: bolder;
  transition: ease-in-out 150ms;
}

.prevArrow:hover{
  background-color: #efd76b;
  color: #444;
}

.nextArrow{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #444;
  padding: 1em;
  cursor: pointer;
  color: #fff;
  z-index: 99;
  font-weight: bolder;
  transition: ease-in-out 150ms;
}

.nextArrow:hover{
  background-color: #efd76b;
  color: #444;
}

.productsContent{
  display: grid;
  height: 80vh;
  width: 80vw;
  margin: 1ch auto;
}

.gridProducts{
  grid-template-areas: 
  "blusas moletons" 
  "blusas shorts";
  grid-template-rows: 2fr 2fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

.blusas{
  grid-area: blusas;
  position: relative;
  img{
    max-width: 100%;
  }
}

.moletons{
  position: relative;
  grid-area: moletons;
  img{
    max-width: 100%;
  }
}

.shorts{
  position: relative;
  img{
    max-width: 100%;
  }
  grid-area: shorts;
}

.blusasContent{
  h1{
    z-index: 100;
    margin: 0;
    color: #fff;
    font-size: 40px;
  }
  .gotoBlusas{
    z-index: 100;
    color: #fff;
    padding: 1ch 2ch;
    margin: 1ch 0;
    cursor: pointer;
    border: solid 3px #fff;
    font-weight: bold;
    a{
      text-decoration: none;
      color: #ddd;
    }
    transition: ease-in-out 150ms;
    &:hover{
      background-color: #fff;
      a{
        color: #333;
      }
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}
.backgroundBlusas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../imgs/home/blusas.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  transition: ease-in-out 200ms;
  filter: brightness(80%);

}

.moletonsContent{
  h1{
    z-index: 100;
    margin: 0;
    color: #fff;
    font-size: 40px;
  }
  .gotoMoletons{
    z-index: 100;
    color: #fff;
    padding: 1ch 2ch;
    margin: 1ch 0;
    cursor: pointer;
    border: solid 3px #fff;
    font-weight: bold;
    transition: ease-in-out 150ms;
    a{
      text-decoration: none;
      color: #ddd;
    }
    &:hover{
      background-color: #fff;
      a{
        color: #333;
      }
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}
.backgroundMoletons{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../imgs/home/moletons.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  transition: ease-in-out 200ms;
  filter: brightness(80%);

}
.shortsContent{
  h1{
    z-index: 100;
    margin: 0;
    color: #fff;
    font-size: 40px;
  }
  .gotoShorts{
    z-index: 100;
    color: #fff;
    padding: 1ch 2ch;
    margin: 1ch 0;
    cursor: pointer;
    border: solid 3px #fff;
    font-weight: bold;
    transition: ease-in-out 150ms;
    a{
      text-decoration: none;
      color: #ddd;
    }
    &:hover{
      background-color: #fff;
      a{
        color: #333;
      }
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}
.backgroundShorts{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../imgs/home/shorts.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  transition: ease-in-out 200ms;
  filter: brightness(80%);

}